# Python virtual environment
venv/
.venv/
__pycache__/
*.pyc

# DVC cache and metadata
.dvc/
data/  # DVC will manage files in this folder, Git should ignore the actual data

# MLflow
mlruns/
mlflow_data/ # Directory where MLflow stores data/artifacts
*.db
*.sqlite
mlflow_data/artifacts

# IDE specific files
.vscode/
.idea/

# Other common build/temp files
*.log
*.tmp
*.swp
.mypy_cache/
.pytest_cache/